In [1]:
%load_ext autoreload
%autoreload 2

# <span style="color:#c6aa3d">0. Importing libraries and defining paths</span><a class="anchor" id="0-bullet"></a>

### 0.1 Importing libraries

In [2]:
# Importing python libraries
import sys
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Setting the default max row and column display
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

pd.options.mode.chained_assignment = None

In [4]:
# Path to src folder
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd())))
sys.path.append(SCRIPT_DIR)

# Import own code
import src.config as config
import src.custom_funcs as custom_funcs

C:\Users\Asus\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\Asus\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

### 0.2 Defining paths

In [5]:
# Input/Output Folder
raw_data_path = "./../data/raw/"
interim_data_path = "./../data/interim/"

notebook_output_path = "./output/3. Substitutability/"

# <span style="color:#c6aa3d">1. Processing sales data</span><a class="anchor" id="1-bullet"></a>

### 1.1 Reading sales Data

In [6]:
df_sales_2021 = pd.read_csv(raw_data_path + "20220303_Sales_2021.csv", dtype=config.sales_data_col_types)

In [7]:
print(f"2021 data shape: {df_sales_2021.shape}")

2021 data shape: (1573716, 49)

In [8]:
df_sales_2021.head()

,DATES,STORE_NUMBER,STORE_NAME,POS_NUMBER,TICKET_NUMBER,CHANNEL,DEPARTMANT,SUBDEPARTMENT,CLASS,SUBCLASS,BRAND_GROUP,BRAND_NAME,SUPPLIER_GROUP,SUPPLIER_NAME,SKU_NUMBER,PRODUCT_NAME,PRODUCT_IBC,PRODUCT_SBC,PRODUCT_ORIGINAL_PRICE,PRODUCT_REGULAR_PRICE,PRODUCT_STATUS,PRODUCT_CATALOG_NUMBER,PRODUCT_SEASONAL_CODE,PRODUCT_SIZE_AND_COLOR,PRODUCT_COLOR,PRODUCT_MANUFACTURER_NUMBER,PRODUCT_SIZES,PRODUCT_SEASON,PRODUCT_SEASON_DESC,CREDIT_CONSIGN,MEMBER_ID,SALES_QUANTITY,PERMANENT_MARKDOWN_EXC_VAT,PERMANENT_MARKDOWN_INC_VAT,GROSS_SALES_EXC_VAT,GROSS_SALES_INC_VAT,PROMOTION_MARKDOWN_EXC_VAT,PROMOTION_MARKDOWN_INC_VAT,TOTAL_DISCOUNT_AMT_INC_VAT,TOTAL_DISCOUNT_AMT_EXC_VAT,EPOS_MARKDOWN_EXC_VAT,EPOS_MARKDOWN_INC_VAT,NET_SALES_AMT_EXC_VAT,NET_SALES_AMT_INC_VAT,DISCOUNT_SHARING_AMT,SPECIAL_GP_AMT,PROMOTION_REBATE_AMT,COST_OF_GOODS_SOLD,NET_MARGIN_AMT_EXC_VAT
0,20210202,10102,Chidlom,331,006470,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,1011010090128523,1,0.0,0.0,1397.19,1495.0,0.0,0.0,186.88,174.65,0.0,0.0,1222.54,1308.12,0.0,0.0,0.0,644.916,577.624
1,20210203,10102,Chidlom,331,006534,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,2011675475,1,0.0,0.0,1397.20,1495.0,0.0,0.0,112.42,105.07,0.0,0.0,1292.13,1382.58,0.0,0.0,0.0,644.916,647.214
2,20210206,10102,Chidlom,334,464256,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,8017442837,1,0.0,0.0,1397.20,1495.0,0.0,0.0,33.33,31.15,0.0,0.0,1366.05,1461.67,0.0,0.0,0.0,644.916,721.134
3,20210121,10102,Chidlom,331,005596,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,2402067377,1,0.0,0.0,1397.20,1495.0,0.0,0.0,0.00,0.00,0.0,0.0,1397.20,1495.00,0.0,0.0,0.0,644.916,752.284
4,20210121,10102,Chidlom,331,005568,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,1011010088145679,1,0.0,0.0,1397.20,1495.0,0.0,0.0,0.00,0.00,0.0,0.0,1397.20,1495.00,0.0,0.0,0.0,644.916,752.284

### 1.2 Preliminary processing of sales data

In [9]:
df_sales_2021['Date'] = df_sales_2021['DATES']

# Removes leading zeros from POS and Ticket, if any
df_sales_2021['POS_NUMBER'] = df_sales_2021['POS_NUMBER'].astype('str').apply(custom_funcs.remove_leading_zeros)
df_sales_2021['TICKET_NUMBER'] = df_sales_2021['TICKET_NUMBER'].astype('str').apply(custom_funcs.remove_leading_zeros)

df_sales_2021 = df_sales_2021.drop(columns=['DATES'])

In [10]:
df_sales_2021['MEMBER_ID'] = df_sales_2021['MEMBER_ID'].astype('str').apply(custom_funcs.trim_and_convert_blanks_to_nan)

### 1.3 EDA on Sales data

In [11]:
df_sales_2021.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573716 entries, 0 to 1573715
Data columns (total 49 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   STORE_NUMBER                 1573716 non-null  object
 1   STORE_NAME                   1573716 non-null  object
 2   POS_NUMBER                   1573716 non-null  object
 3   TICKET_NUMBER                1571794 non-null  object
 4   CHANNEL                      1573716 non-null  object
 5   DEPARTMANT                   1573716 non-null  object
 6   SUBDEPARTMENT                1573716 non-null  object
 7   CLASS                        1573716 non-null  object
 8   SUBCLASS                     1573716 non-null  object
 9   BRAND_GROUP                  1573716 non-null  object
 10  BRAND_NAME                   1573716 non-null  object
 11  SUPPLIER_GROUP               1573716 non-null  object
 12  SUPPLIER_NAME                1573716 non-null  object
 13  SKU_NUMBER                   1573716 non-null  object
 14  PRODUCT_NAME                 1573716 non-null  object
 15  PRODUCT_IBC                  1573716 non-null  object
 16  PRODUCT_SBC                  1573716 non-null  object
 17  PRODUCT_ORIGINAL_PRICE       1573716 non-null  float64
 18  PRODUCT_REGULAR_PRICE        1573716 non-null  float64
 19  PRODUCT_STATUS               1573716 non-null  object
 20  PRODUCT_CATALOG_NUMBER       1573716 non-null  object
 21  PRODUCT_SEASONAL_CODE        1573716 non-null  object
 22  PRODUCT_SIZE_AND_COLOR       1573716 non-null  object
 23  PRODUCT_COLOR                1573716 non-null  object
 24  PRODUCT_MANUFACTURER_NUMBER  1573710 non-null  object
 25  PRODUCT_SIZES                1078583 non-null  object
 26  PRODUCT_SEASON               1573716 non-null  object
 27  PRODUCT_SEASON_DESC          0 non-null        object
 28  CREDIT_CONSIGN               1573716 non-null  object
 29  MEMBER_ID                    1418699 non-null  object
 30  SALES_QUANTITY               1573716 non-null  int64
 31  PERMANENT_MARKDOWN_EXC_VAT   1573716 non-null  float64
 32  PERMANENT_MARKDOWN_INC_VAT   1573716 non-null  float64
 33  GROSS_SALES_EXC_VAT          1573716 non-null  float64
 34  GROSS_SALES_INC_VAT          1573716 non-null  float64
 35  PROMOTION_MARKDOWN_EXC_VAT   1573716 non-null  float64
 36  PROMOTION_MARKDOWN_INC_VAT   1573716 non-null  float64
 37  TOTAL_DISCOUNT_AMT_INC_VAT   1573716 non-null  float64
 38  TOTAL_DISCOUNT_AMT_EXC_VAT   1573716 non-null  float64
 39  EPOS_MARKDOWN_EXC_VAT        1573716 non-null  float64
 40  EPOS_MARKDOWN_INC_VAT        1573716 non-null  float64
 41  NET_SALES_AMT_EXC_VAT        1573716 non-null  float64
 42  NET_SALES_AMT_INC_VAT        1573716 non-null  float64
 43  DISCOUNT_SHARING_AMT         1573716 non-null  float64
 44  SPECIAL_GP_AMT               1573716 non-null  float64
 45  PROMOTION_REBATE_AMT         1573716 non-null  float64
 46  COST_OF_GOODS_SOLD           1573716 non-null  float64
 47  NET_MARGIN_AMT_EXC_VAT       1573716 non-null  float64
 48  Date                         1573716 non-null  object
dtypes: float64(19), int64(1), object(29)
memory usage: 588.3+ MB

In [12]:
print(f"% missing Member_ID: {round(df_sales_2021['MEMBER_ID'].isna().sum()/df_sales_2021.shape[0]*100,2)}%")

% missing Member_ID: 9.85%

# <span style="color:#c6aa3d">2. Processing customer data</span><a class="anchor" id="2-bullet"></a>

### 2.1 Reading customer Data

In [13]:
df_cust_seg = pd.read_csv(raw_data_path + "append_segment_202203041128.csv", dtype=config.customer_df_col_types)
print(f"Customer data shape: {df_cust_seg.shape}")

Customer data shape: (8951179, 19)

In [14]:
df_cust_seg.head()

,card_no,member_number,number_of_purchases,first_purchase,last_purchase,quantity,spending,birth_year,age,gender,city,postal_code,nationality,wholesale_flag,vvip_flag,wealth_flag,mombaby_flag,millennial_flag,largefamily_flag
0,8025210916,9-009952307,7,20170407,20181024,47,18661.35,1991.0,31.0,Female,กรุงเทพมหานคร,10520,Thai,0,0,0,0,0,1
1,8064145354,9-003531526,48,20170222,20220115,253,85744.00,1986.0,36.0,Female,นนทบุรี,11120,Thai,0,0,0,1,0,1
2,2484009982,9-013269670,1,20191205,20191205,1,1540.00,1983.0,39.0,Female,สมุทรปราการ,10560,Thai,0,0,0,0,0,1
3,8068253529,9-000555885,1,20190127,20190127,1,722.50,1956.0,66.0,Female,ชลบุรี,20150,Thai,0,0,0,0,0,1
4,2002755162,9-005905137,36,20170117,20200906,114,135651.69,1956.0,66.0,Male,นนทบุรี,11110,Thai,0,0,1,1,0,1

###  2.2 Preliminary processing of customer data

In [15]:
# Cleaning card_no and member_number fields
df_cust_seg['card_no'] = df_cust_seg['card_no'].astype('str').apply(custom_funcs.trim_and_convert_blanks_to_nan)
df_cust_seg['member_number'] = df_cust_seg['member_number'].astype('str').apply(custom_funcs.trim_and_convert_blanks_to_nan)

In [16]:
# Counting missing rows in key fields
print(f"Missing rows in card_no: {df_cust_seg['card_no'].isna().sum()}")
print(f"Missing rows in member_number: {df_cust_seg['member_number'].isna().sum()}")
print(f"Missing rows in wholesale_flag: {df_cust_seg['wholesale_flag'].isna().sum()}")

Missing rows in card_no: 6
Missing rows in member_number: 38605
Missing rows in wholesale_flag: 0

In [17]:
# Removing blank card_no
df_cust_seg = df_cust_seg[~(df_cust_seg['card_no'].isna())]
print(f"Customer data rows left: {df_cust_seg.shape[0]}")

Customer data rows left: 8951173

###  2.3 Preparing card to customer/member mapping

In [18]:
# Ascertain that one member_number only has one wholesale flag
df_cust_seg_member_wholesale_chk = df_cust_seg.groupby('member_number')['wholesale_flag'].nunique().reset_index()
df_cust_seg_member_wholesale_chk.rename(columns={'wholesale_flag':'wholesale_flag_unique'}, inplace=True)
check_member_wholesale_dups = df_cust_seg_member_wholesale_chk.query('wholesale_flag_unique>1').shape[0]/ \
                                df_cust_seg_member_wholesale_chk.shape[0]

assert check_member_wholesale_dups < config.member_wholesale_dups_thresh_perc, "Significant member_numbers have duplicate wholesale flag mapping"

In [19]:
# Rolling up at card_no level
# Note that first and nunique function doesnt consider missing member_number
df_cust_seg = df_cust_seg.groupby('card_no').agg({'member_number':['first','nunique'],
                                                 'wholesale_flag':'first'}).reset_index()
df_cust_seg.columns = [(i+"_"+j) if j!='' else i for i,j in df_cust_seg.columns]

# Check if card_no has duplicate member_number mapping
check_card_no_dup_maps = df_cust_seg.query('member_number_nunique>1').shape[0]/df_cust_seg.shape[0]
assert check_card_no_dup_maps < config.card_to_member_dup_thresh_perc, "Significant card_no with duplicate member_number mapping"

In [20]:
df_cust_seg = (df_cust_seg.drop(columns='member_number_nunique')
                        .rename(columns={'member_number_first':'member_number',
                                        'wholesale_flag_first': 'wholesale_flag',
                                        'card_no':'MEMBER_ID'}))

In [21]:
print(f"Number of rows: {df_cust_seg.shape}")
df_cust_seg.head()

Number of rows: (8950798, 3)

      MEMBER_ID member_number  wholesale_flag
0   +6632067088          None               0
1  +66613983427          None               0
2  +66816862142          None               0
3  +66851550011          None               0
4             -          None               0

### 2.4 Mapping customer/member ID to sales data

In [22]:
subst_df = df_sales_2021.copy()
# Removing missing member_ID/card_no rows
subst_df = subst_df[~(subst_df['MEMBER_ID'].isna())]
non_blank_sales_data_rows = subst_df.shape[0]

# Inner joining and hence removing unmapped card_no rows
subst_df = subst_df.merge(df_cust_seg, on='MEMBER_ID', how='inner')
print(f"Non-blank MEMBER_ID rows dropped: {non_blank_sales_data_rows-subst_df.shape[0]}")
print(f"Sales data shape: {subst_df.shape}")

Non-blank MEMBER_ID rows dropped: 94
Sales data shape: (1418605, 51)

In [23]:
# Checking card_no mapped to blank member_number
print(f"card_no rows mapped to blank member_number: {subst_df['member_number'].isna().sum()}")
check_card_no_missing_member_number = subst_df['member_number'].isna().sum()/subst_df.shape[0]

assert check_card_no_missing_member_number<config.card_no_missing_member_number_thresh_perc, \
    "Significant rows with missing member_number mapped from customer data"

card_no rows mapped to blank member_number: 10221

In [24]:
# Wherever member_number is blank, assume one card= one member
subst_df['member_number'] = np.where(subst_df['member_number'].isna(),
                                     subst_df['MEMBER_ID'],
                                     subst_df['member_number'])

# <span style="color:#c6aa3d">3. Processing store data</span><a class="anchor" id="3-bullet"></a>

In [25]:
store = pd.read_csv(raw_data_path + "store_v2.csv", dtype = {'STORE_NUMBER': object})
store.columns = [x.lower() for x in store.columns]
store = store.drop(columns=['store_name'])

store= store[['store_number', 'banner']]
store= store.rename(columns={'store_number': 'STORE_NUMBER'})

In [26]:
# Merging store data to sales to get store banner
subst_df = pd.merge(subst_df, store, on=['STORE_NUMBER'], how='left')

# Check
subst_df['banner'].value_counts(dropna=False)

CDS       734588
RBS       550056
Others    133961
Name: banner, dtype: int64

# <span style="color:#c6aa3d">4. Sales data filtering</span><a class="anchor" id="4-bullet"></a>

### 4.1 Removing spurious member IDs

In [27]:
# Removing blank and spurious Member IDs
subst_df = subst_df[~(subst_df['MEMBER_ID'].str.len()<=1)]
subst_df = subst_df[~(subst_df['MEMBER_ID'].isin(["00000000","0000000000","0000080166146","02999999",
                                                 "050008260003611328810","http://www.the-1-card"]))]
print(subst_df.shape)

(1418603, 52)

### 4.2 Including only CDS and RBS stores

In [28]:
subst_df = subst_df[subst_df['banner'].isin(['CDS', 'RBS'])]
print(subst_df.shape)

(1284642, 52)

### 4.3 Removing wholesale members

**Objective**: Wholesale members buy in bulk for consumption of others and hence don't show a true choice behaviour between brands, thus adding noise. Therefore, they are dropped from the analysis

In [29]:
subst_df = subst_df[~(subst_df['wholesale_flag']==1)]
print(subst_df.shape)

(1269984, 52)

In [30]:
subst_df.head()

,STORE_NUMBER,STORE_NAME,POS_NUMBER,TICKET_NUMBER,CHANNEL,DEPARTMANT,SUBDEPARTMENT,CLASS,SUBCLASS,BRAND_GROUP,BRAND_NAME,SUPPLIER_GROUP,SUPPLIER_NAME,SKU_NUMBER,PRODUCT_NAME,PRODUCT_IBC,PRODUCT_SBC,PRODUCT_ORIGINAL_PRICE,PRODUCT_REGULAR_PRICE,PRODUCT_STATUS,PRODUCT_CATALOG_NUMBER,PRODUCT_SEASONAL_CODE,PRODUCT_SIZE_AND_COLOR,PRODUCT_COLOR,PRODUCT_MANUFACTURER_NUMBER,PRODUCT_SIZES,PRODUCT_SEASON,PRODUCT_SEASON_DESC,CREDIT_CONSIGN,MEMBER_ID,SALES_QUANTITY,PERMANENT_MARKDOWN_EXC_VAT,PERMANENT_MARKDOWN_INC_VAT,GROSS_SALES_EXC_VAT,GROSS_SALES_INC_VAT,PROMOTION_MARKDOWN_EXC_VAT,PROMOTION_MARKDOWN_INC_VAT,TOTAL_DISCOUNT_AMT_INC_VAT,TOTAL_DISCOUNT_AMT_EXC_VAT,EPOS_MARKDOWN_EXC_VAT,EPOS_MARKDOWN_INC_VAT,NET_SALES_AMT_EXC_VAT,NET_SALES_AMT_INC_VAT,DISCOUNT_SHARING_AMT,SPECIAL_GP_AMT,PROMOTION_REBATE_AMT,COST_OF_GOODS_SOLD,NET_MARGIN_AMT_EXC_VAT,Date,member_number,wholesale_flag,banner
0,10102,Chidlom,331,6470,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,1011010090128523,1,0.0,0.0,1397.19,1495.0,0.0,0.0,186.88,174.65,0.0,0.0,1222.54,1308.12,0.0,0.0,0.0,644.916,577.624,20210202,9-003773408,0,CDS
1,10102,Chidlom,331,6470,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,003 - T-SHIRT,DEFRY 01,DEFRY 01 WOMEN,Others,"GOLDEN CITY GARMENTS FACTORY CO.,LT",6511960,เสื้อ WH XL,70779622,0,690.0,199.0,Active,999,NON,XL-397,397.,2101ETSW011,XL,NON,NaN,Credit,1011010090128523,1,0.0,0.0,644.86,690.0,0.0,0.0,207.00,193.46,0.0,0.0,451.40,483.00,0.0,0.0,0.0,203.700,247.700,20210202,9-003773408,0,CDS
2,10102,Chidlom,253,135363,New channels,003 - WOMEN,302 - MISSY APPARELS,101 - TOP,001 - BLOUSE,MARKS & SPENCER,MARKS & SPENCER,Others,MARKS & SPENCER,20374294,PUN FLORL KEYHOLE BL 2101,84552419,0,1790.0,890.0,Active,999,NON,16-169,1695,T532251U,16,NON,NaN,Credit,1011010090128523,1,0.0,0.0,1672.89,1790.0,0.0,0.0,1158.00,1082.24,0.0,0.0,590.65,632.00,0.0,0.0,0.0,519.435,71.215,20211124,9-003773408,0,CDS
3,10102,Chidlom,331,6534,Offline,003 - WOMEN,301 - YOUNG MISS APPARELS,101 - TOP,001 - BLOUSE,DEFRY 01,DEFRY 01 WOMEN,Others,ELITA & CO. PTE LTD,6534875,เสื้อ RE L,71008769,0,1890.0,499.0,Active,999,NON,L-340.,340.,2101ECSW004,L,NON,NaN,Credit,2011675475,1,0.0,0.0,1397.20,1495.0,0.0,0.0,112.42,105.07,0.0,0.0,1292.13,1382.58,0.0,0.0,0.0,644.916,647.214,20210203,9-008751805,0,CDS
4,10117,RAMA III,104,13943,Offline,003 - WOMEN,302 - MISSY APPARELS,101 - TOP,001 - BLOUSE,SIMPLICITY,SIMPLICITY,Others,"L&N GARMENT CO.,LTD.",6255034,เสื้อแขนสั้น H1 BL S,31299824,0,1995.0,499.0,Active,999,SEA,S-65.0,65.0,SS035,S,SEA,NaN,Credit,2011675475,1,0.0,0.0,1864.49,1995.0,0.0,0.0,598.50,559.35,0.0,0.0,1305.14,1396.50,0.0,0.0,0.0,491.000,814.140,20210308,9-008751805,0,CDS

# <span style="color:#c6aa3d">5. Substitution analysis</span><a class="anchor" id="5-bullet"></a>

### 5.1 Preparing data for substitution

In [31]:
# Pulling config parameters
lvl = config.subst_lvl
min_customer_support = config.subst_min_customer_support # Increase support to filter out brand pairs by making overlap criterion more strict
store_banner = config.subst_store_banner # Run twice, once for each store

In [32]:
# Set customer identifier- default= member_number
subst_df['cust_id'] = subst_df[config.subst_customer_identifier]

In [33]:
# Store banner filtering
df = subst_df.loc[subst_df['banner']==store_banner]

**Note**: In the below code, the term `sku` has been used only to imply the level at which we are conducting the analysis. The level is given by the `subst_lvl` parameter in the config file

### 5.2 Preparing customer yule metric

#### 5.2.1 Cross-join and calculate intersection

In [34]:
# Cross-tabulate
df_customer = df[['SUBCLASS','cust_id',lvl]].drop_duplicates()
cross_skus = df_customer.merge(df_customer.add_prefix('right_'), left_on=[
                              'SUBCLASS','cust_id'], right_on=['right_SUBCLASS','right_cust_id'])

# Create intersection
customer_intersect = (cross_skus
             .groupby(['SUBCLASS', lvl, 'right_'+lvl])
             .size()
             .reset_index()
             .rename(columns={0: 'sku_intersect_count'})
             )

#### 5.2.2 Calculate other metrics for yule score calculation and merge

In [35]:
# Create the SKU summary: number of customers that bought SKU
cust_per_sku = (df_customer
                 .groupby(['SUBCLASS', lvl])
                 .agg({'cust_id': pd.Series.nunique})
                 .reset_index()
                 .rename(columns={'cust_id': 'sku_count'})
                 )

# Create the total number of customers
customer_total = df_customer.groupby('SUBCLASS')['cust_id'].nunique().reset_index()
customer_total = customer_total.rename(columns={'cust_id': 'total_count'})

# Merge the data from SKU A, SKU B, and totals
yule_customer = (customer_intersect
                .merge(cust_per_sku, on=['SUBCLASS', lvl], how='inner')
                .rename(columns={'sku_count': 'left_sku_count'})
                .merge(cust_per_sku.rename(columns={lvl: 'right_'+lvl}), on=['SUBCLASS', 'right_'+lvl], how='inner')
                .rename(columns={'sku_count': 'right_sku_count'})
                .merge(customer_total, on='SUBCLASS', how='inner')
                )

# Calculate support for intersection
yule_customer['support_customer'] = yule_customer['sku_intersect_count']/yule_customer['total_count']

#### 5.2.3 Calculate customer yule score and filter same sku and low support pairs

In [36]:
# Calculate yule values and odd ratios from the metrics at customer level for each pair of SKUs
yule_customer = (yule_customer.assign
                  (
                      # Odds left/right and ratio
                      l_odds=lambda x: x.sku_intersect_count / \
                      (x.left_sku_count - x.sku_intersect_count),
                      r_odds=lambda x: (x.right_sku_count - x.sku_intersect_count) / \
                          (x.total_count - x.left_sku_count - x.right_sku_count + x.sku_intersect_count),
                      odds_ratio=lambda x: x.l_odds / x.r_odds,

                      # Yules metric
                      yulesQ=lambda x: (x.odds_ratio - 1) / (x.odds_ratio+1)
                    )
                  .rename(columns={'sku_intersect_count': 'overlap_customer_level', 
                                   'left_sku_count': 'freq_customer_level', 
                                   'right_sku_count': 'right_freq_customer_level', 
                                   'total_count': 'total_count_customers'})
                )
                  
# Remove rows with same SKUs
yule_customer = yule_customer[~(yule_customer[lvl]==yule_customer['right_'+lvl])]

# Remove combinations with very less support
yule_customer = yule_customer[yule_customer['support_customer']>=min_customer_support]

### 5.3 Preparing transaction yule metric

In [37]:
# Create transaction ID
df['transaction_id'] = df['Date'].astype(str) + '_' + df['STORE_NUMBER'].astype(str) + \
                        '_' + df['POS_NUMBER'].astype(str) + '_' + df['TICKET_NUMBER'].astype(str)

#### 5.3.1 Cross-join and calculate intersection

In [38]:
## YulesQ at transaction level
df_transaction = df[['SUBCLASS','transaction_id', lvl]].drop_duplicates()

cross_transactions = (df_transaction
                      .merge(df_transaction.add_prefix('right_'), left_on=['SUBCLASS','transaction_id'], 
                             right_on=['right_SUBCLASS','right_transaction_id'], how='inner')
                      .drop(columns=['right_transaction_id'])
                      )

transaction_intersect = (cross_transactions
             .groupby(['SUBCLASS', lvl, 'right_'+lvl])
             .size()
             .reset_index()
             .rename(columns={0: 'sku_intersect_count'})
             )

#### 5.3.2 Calculate other metrics for yule score calculation and merge

In [39]:
transactions_per_skus = (df_transaction
                         .groupby(['SUBCLASS', lvl])
                         .agg({'transaction_id': pd.Series.nunique})
                         .reset_index()
                         .rename(columns={'transaction_id': 'sku_count'})
                         )

transactions_total = df_transaction.groupby('SUBCLASS')['transaction_id'].nunique().reset_index()
transactions_total = transactions_total.rename(columns={'transaction_id': 'total_count'})

# Merge the three data sets to get the numbers needed to compute yule
yule_transaction = (transaction_intersect
                    .merge(transactions_per_skus, on=['SUBCLASS', lvl], how='inner')
                    .rename(columns={'sku_count': 'left_sku_count'})
                    .merge(transactions_per_skus.rename(columns={lvl: 'right_'+lvl}), 
                           on=['SUBCLASS', 'right_'+lvl], how='inner')
                    .rename(columns={'sku_count': 'right_sku_count'})
                    .merge(transactions_total, on='SUBCLASS', how='inner')
                    )

yule_transaction['support_transaction'] = yule_transaction['sku_intersect_count']/yule_transaction['total_count']

#### 5.3.3 Calculate transaction/basket yule score

In [40]:
# Calculate yule values and odd ratios (same as before)
yule_transaction = (yule_transaction.assign
                    (
                        l_odds=lambda x: x.sku_intersect_count /
                        (x.left_sku_count - x.sku_intersect_count),
                        r_odds=lambda x: (x.right_sku_count - x.sku_intersect_count) / (
                            x.total_count - x.left_sku_count - x.right_sku_count + x.sku_intersect_count),
                        odds_ratio=lambda x: x.l_odds / x.r_odds,
                        yulesQ=lambda x: (x.odds_ratio - 1) / (x.odds_ratio+1)
                    )
                    .rename(columns={'sku_intersect_count': 'overlap_transaction_level', 
                                     'left_sku_count': 'freq_transaction_level', 
                                     'right_sku_count': 'right_freq_transaction_level', 
                                     'total_count': 'total_count_transaction'})
                   )

### 5.4 Calculate overall yule score

In [41]:
# Merge transaction yule with customer yule results
yule = yule_customer.merge(yule_transaction, on=['SUBCLASS' ,lvl, 'right_' + lvl], 
                           how='left', suffixes=('_customer','_transaction'))

# Fill NAs with -1 as these are pairs with no intersection at transaction level
yule.yulesQ_transaction = yule.yulesQ_transaction.fillna(-1)

# Compute overall yules score
yule['substitution_yules'] = yule.apply(lambda x: (
        x.yulesQ_customer - x.yulesQ_transaction) if (x.yulesQ_customer >= x.yulesQ_transaction) else 0, axis=1)

# Compute standardized score which scales values typically from 0 to 1
yule['substitution_yules_std'] = yule['substitution_yules'] / 2

# Sort based on highest substitutable pair within subclass and brand
yule.sort_values(['SUBCLASS', lvl,'substitution_yules'], ascending = [True, True, False], inplace = True)

# Arranging columns
yule = yule[['SUBCLASS', lvl, 'right_'+lvl,
        'support_customer','support_transaction',
        'overlap_customer_level','freq_customer_level','right_freq_customer_level',
        'overlap_transaction_level','freq_transaction_level','right_freq_transaction_level',
        'l_odds_customer','r_odds_customer','odds_ratio_customer','yulesQ_customer',
        'l_odds_transaction','r_odds_transaction','odds_ratio_transaction','yulesQ_transaction',
        'substitution_yules','substitution_yules_std'
            ]]

yule = yule.rename(columns=config.subst_output_rename_dict)

print(f"Final output shape: {yule.shape}")

yule.head()

Final output shape: (1676, 21)

,SUBCLASS,X,Y,Support (Customer),Support (Transaction),# Customers (X and Y),# Customers (X),# Customers (Y),# Transactions (X and Y),# Transactions (X),# Transactions (Y),Odds Customer (X to Y),Odds Customer (not X to Y),Odds Ratio (Customer),YulesQ (Customer),Odds Transaction (X to Y),Odds Transaction (not X to Y),Odds Ratio (Transaction),YulesQ (Transaction),Substitution score (Yules),Substitution score standardized (Yules)
3,001 - BAG,BOSSINI,ESPRIT,0.002792,0.000422,6,457,188,1.0,485.0,197.0,0.013304,0.120530,0.110377,-0.801189,0.002066,0.116251,0.017773,-0.965075,0.163886,0.081943
5,001 - BAG,BOSSINI,SFERA,0.003257,0.000422,7,457,677,1.0,485.0,742.0,0.015556,0.655577,0.023728,-0.953644,0.002066,0.649430,0.003181,-0.993657,0.040013,0.020007
11,001 - BAG,EP,ESP,0.001861,NaN,4,111,360,NaN,NaN,NaN,0.037383,0.211653,0.176625,-0.699777,NaN,NaN,NaN,-1.000000,0.300223,0.150112
2,001 - BAG,ESP,EP,0.001861,NaN,4,360,111,NaN,NaN,NaN,0.011236,0.063615,0.176625,-0.699777,NaN,NaN,NaN,-1.000000,0.300223,0.150112
6,001 - BAG,ESP,SFERA,0.002792,NaN,6,360,677,NaN,NaN,NaN,0.016949,0.600179,0.028240,-0.945071,NaN,NaN,NaN,-1.000000,0.054929,0.027465

### 5.5 Exporting results

In [42]:
# Export to csv
yule.to_csv(notebook_output_path + 'Substitutability_output_'+store_banner+'.csv',
                                                       index=False,
                                                       encoding='utf_8_sig')